@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

/* -------------------- global css started --------------------- */

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ecececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  line-height: 1.4;
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
  display: inline-block;
}
.section-center {
  width: 85vw;
  max-width: 1170px;
  margin: 4rem auto 2rem auto;
}
.btn-white {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 2rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  text-transform: uppercase;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  padding: 0.9rem 1.6rem;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* -------------------- end global css --------------------- */

/* -------------------- start of  header css --------------------- */
/* -------------------- start of  hero css --------------------- */

.hero {
  min-height: 100vh;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.hero-banner {
  text-align: center;
  color: var(--mainWhite);
}
.hero-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}
.hero-text {
  width: 85%;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 4rem;
  letter-spacing: var(--mainSpacing);
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
      url("../image/bannerImage.jpg") center/cover no-repeat fixed;
  }
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-text {
    width: 70%;
  }
}
/* -------------------- end of  hero css --------------------- */
/* -------------------- end of  header css --------------------- */

/* -------------------- start of  about css --------------------- */
.about {
  background: var(--mainWhite);
}
.title-wrapper {
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.title {
  letter-spacing: 0.5rem;
  font-weight: bold;
}
.subtitle {
  color: var(--primaryColor);
}
.about-info {
  margin-top: 2rem;
}
@media screen and (min-width: 870px) {
  .about-center {
    display: flex;
    justify-content: space-between;
  }
  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    margin-top: 0;
  }
  .about-info {
    align-self: center;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: -1.25rem;
    width: 100%;
    height: 100%;
    border: 5px solid var(--primaryColor);
  }
  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }
}
/* -------------------- end of  about css --------------------- */

/* -------------------- start of  service css --------------------- */

.service {
  background: var(--mainGrey);
}
.service-single {
  text-align: center;
  margin-bottom: 2rem;
}
.service-title {
  text-transform: uppercase;
  margin-top: 1rem;
}
.service-icon {
  font-size: 1.2rem;
  background: var(--primaryColor);
  padding: 8px;
  display: inline;
}

@media screen and (min-width: 768px) {
  .service-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service-single {
    flex: 0 1 calc(50% - 1rem);
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 2rem;
  }
  .service-info {
    margin-left: 1rem;
    align-self: center;
  }
  .service-icon {
    align-self: flex-start;
  }
  .service-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1170px) {
  .service-single {
    flex: 0 0 calc(33.33% - 1rem);
    margin-bottom: 0;
  }
}

/* -------------------- end of  service css --------------------- */

/* -------------------- start of  featured css --------------------- */

.features {
  background: var(--mainWhite);
}
.single-features {
  box-shadow: var(--lightShadow);
  margin: 2rem 0;
}
.single-features:hover {
  box-shadow: var(--darkShadow);
}
.feature-title {
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}
.feature-country {
  color: var(--primaryColor);
  font-weight: bold;
}
.feature-sub_info {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.feature-img-container {
  position: relative;
}
.feature-date {
  position: absolute;
  top: 0;
  padding: 2px 10px 0 10px;
  background: var(--primaryColor);
  text-transform: capitalize;
  color: var(--mainWhite);
  font-weight: bold;
}
.feature-link {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .single-features {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1170px) {
  .single-features {
    flex: 0 0 calc(33.33% - 1rem);
  }
}
/* -------------------- end of  featured css --------------------- */

/* -------------------- start of  gallery css --------------------- */

/* -------------------- end of  featured css --------------------- */
.galleries {
  background: var(--darkGrey);
  margin: 2rem 0;
}
.galleries-center {
  padding-top: 2rem;
}
.gallery-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
}
.gallery-icon {
  position: absolute;
  font-size: 2.5rem;
  color: var(--mainWhite);
  opacity: 0;
  transition: var(--mainTransition);
}
.gallery-img:hover .gallery-photo {
  opacity: 0.5;
}
.gallery-img:hover .gallery-icon {
  opacity: 1;
}

@media screen and (min-width: 475px) {
  .galleries-center {
    display: flex;
    flex-wrap: wrap;
  }
  .single-gallery {
    flex: 0 0 calc(50%);
  }
}
@media screen and (min-width: 678px) {
  .single-gallery {
    flex: 0 0 calc(33.33%);
  }
}

@media screen and (min-width: 950px) {
  .single-gallery {
    flex: 0 0 calc(25%);
  }
}

@media screen and (min-width: 1250px) {
  .single-gallery {
    flex: 0 0 calc(20%);
  }
}

/* -------------------- end of  gallery css --------------------- */

/* ---------------------start of hot deal------------------------ */
.hot-deal {
  background: var(--mainWhite);
}
.hot-deal-form {
  display: flex;
  justify-content: center;
}
.hot-deal-input {
  border: var(--primaryColor) solid 2px;
  flex-grow: 0.5;
}
.hot-deal-input::placeholder {
  text-align: left;
  color: var(--mainBlack);
  letter-spacing: 3px;
  text-transform: uppercase;
}
input[type="email"] {
  text-align: left;
  color: var(--mainBlack);
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  outline: none;
}
.submit-btn {
  padding: 0.5rem 1rem;
  background: var(--mainWhite);
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 0.7rem;
  text-transform: uppercase;
  border: var(--primaryColor) solid 2px;
  cursor: pointer;
  border-left: none;
}
.submit-btn:hover {
  color: var(--mainWhite);
  background: var(--primaryColor);
  transition: var(--mainTransition);
}
/* ---------------------end of hot deal------------------------ */

/* ---------------------start of footer------------------------ */
.footer {
  background: var(--mainBlack);
  color: var(--mainWhite);
  text-align: center;
  padding: 2rem;
  line-height: 2.5rem;
}
.footer-single-option {
  font-style: "Poppins", sans-serif;
  text-transform: capitalize;
}
.footer-single-icon {
  margin-right: 1rem;
}

/* ---------------------end of footer------------------------ */
