@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

/* -------------------- global css started --------------------- */

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ecececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.btn-white{
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 2rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover{
  background: var(--mainWhite);
  color: var(--primaryColor);
}

/* -------------------- end global css --------------------- */

/* -------------------- start of  header css --------------------- */
/* -------------------- start of  hero css --------------------- */

.hero{
  min-height: 100vh;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 
}
.hero-banner{
  text-align: center;
  color: var(--mainWhite);
}
.hero-title{
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}
.hero-text{
  width: 85%;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 4rem;
  letter-spacing: var(--mainSpacing);
}
@media screen and (min-width:768px){
.hero{
  background:linear-gradient(rgba(63,208,212,0.7),rgba(0,0,0,0.7)), url("../image/bannerImage.jpg") center/cover no-repeat fixed;
}
.hero-title{
  font-size: 4.5rem;
}
.hero-text{
  width: 70%;
}
}
/* -------------------- end of  hero css --------------------- */
/* -------------------- end of  header css --------------------- */


